body {
	font-size: 16px;
	color: rgb(219, 124, 0);
	background-color: #ffdf7e;
	font-family: 'Helvetica', 'Gill Sans';
}

/* HEADER */
#header-nav {
	background-color: #fcaa4d;
	border-radius: 0;
	border: 0;
	color: rgb(255, 255, 255);
}

.navbar-brand p {
	color: rgb(255, 255, 255);
	font-size: 20px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list a {
	color: rgb(255, 255, 255)e;
	text-align: center;
}

#nav-list a:hover {
	background-color: #ffffff;
}
/* END HEADER */

/* Section */
#home {
	margin-bottom: 30px;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: rgb(255, 145, 0);
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
}
/* End Section */


@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}